<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
  <nav>
    <ul>
      <li>
        <p><a href="/">The Great Hall</a></p>
        <p><a href="/students">All Students</a></p>
        <p><a href="/houses">All Houses</a></p>
      </li>
    </ul>
  </nav>
  <%=yield%>
</body>
</html>